# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Debug
/laserMachine.sln
/laserMachine.vcxproj.user
/.vs/Laser/v15/ipch/AutoPCH/63ee682329820ac5
/.vs/laserMachine/v15/ipch
/.vs/laserMachine/v15
/.vs/VSWorkspaceState.json
/laserMachine.vcxproj.filters
*.aps
