################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/boost
/BUnitTest/Debug
/BUnitTest/Release/BUnitTest.tlog
/BUnitTest/Release
/Debug
/laserMachine/x64/Debug
/Resources/Parameter Data/.vscode
/Release
